.comment {
  width: 341px;
  height: 316px;
  background-color: var(--font-color-1);
  box-shadow: 0 0 15px rgb(0 0 0 / 10%);
  border-radius: 8px;
  padding: 20px;
}

.nameUser {
  display: flex;
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.name {
  font-size: var(--font-size-text-ll);
  font-weight: var(--font-weight-bold);
  padding-bottom: 2px;
}

.nameAndCity {
  padding-left: 20px;
}

.city {
  font-size: var(--font-size-text-llll);
  color: var(--font-color-6);
}

.text {
  font-size: var(--font-size-text-lll);
  padding-top: 15px;
}

@media (width <= 375px) {
  .comment {
    width: 300px;
    height: 281px;
    margin: 0 auto;
  }
}
