.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.title {
  font-size: var(--font-size-text-xlxl);
  font-weight: var(--font-weight-bold);
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 800px;
  padding-top: 50px;
}

.name {
  width: 384px;
}

.phone {
  width: 384px;
}

.check {
  width: 384px;
}

.btn {
  width: 384px;
  height: 64px;
}

@media (max-width: 830px) {
  .name,
  .phone,
  .check,
  .btn {
    width: 352px;
  }

  .form {
    width: auto;
    padding: 35px 20px;
  }
}

@media (max-width: 765px) {
  .title {
    font-size: var(--font-size-text-mm);
  }
}

@media (max-width: 765px) {
  .name,
  .phone,
  .check,
  .btn {
    width: 100%;
  }

  .check {
    padding-bottom: 30px;
  }
}
