.howItWorksContainer {
  text-align: center;
}

.howItWorksTitle {
  font-size: var(--font-size-text-xlxl);
  font-weight: var(--font-weight-bold);
  padding: 80px 0;
}

.howItWorksList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 760px) {
  .howItWorksTitle {
    padding: 60px 0 35px 0;
  }
}

@media (max-width: 375px) {
  .howItWorksTitle {
    font-size: var(--font-size-text-mm);
    padding: 60px 0 25px 0;
  }
}
