.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.title {
  font-size: var(--font-size-text-xlxl);
  font-weight: var(--font-weight-bold);
  padding-bottom: 50px;
}

.list {
  width: 792px;
}

@media (max-width: 850px) {
  .list {
    width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 375px) {
  .title {
    font-size: var(--font-size-text-mm);
    padding-bottom: 50px;
  }
}
