@font-face {
  font-family: GraphikLCG;
  src: url('@/assets/fonts/GraphikLCG-Black.woff') format('woff');
}

:root {
  // Размеры //
  --font-size-text-xl: 52px;
  --font-size-text-xlxl: 40px;
  --font-size-text-m: 32px;
  --font-size-text-mm: 24px;
  --font-size-text-mmm: 20px;
  --font-size-text-l: 18px;
  --font-size-text-ll: 16px;
  --font-size-text-lll: 14px;
  --font-size-text-llll: 12px;
  --fonst-size-btn-xl: 24px;
  --fonst-size-btn-m: 20px;
  --fonst-size-btn-l: 16px;

  // шрифты //
  --font-family-main: consolas, 'GraphikLCG', serif;
  --font-weight-regular: 400;
  --font-weight-bold: 600;

  // цвета //
  --font-color-1: #fff;
  --font-color-2: #000;
  --font-color-3: #ECEFF2;
  --font-color-4: #2A6CEA;
  --font-color-5: #397DFF;
  --font-color-6: rgb(131 137 143);
  --font-color-7: #F6F8FA;
  --font-color-8: #F13636;
  --font-color-9: #C2C8CD;
  --font-color-10: rgb(131 137 143 / 50%);
}
